@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Search</h1>
    <p class="lead">Search employees</p>
    <p>
        @Html.ActionLink("Search", "Search", null, new { @class = "btn btn-primary" })
    </p>
</div>
